BorderPane{
    -fx-background-image:url("HideAndSeek.jpg") ;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
Button{
    -fx-background-color: white;
    -fx-border-color: lightblue;
    -fx-border-style: solid;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-color:white;
    -fx-border-radius: 6px;
}
Button:hover{
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-style: dashed;

}